$desktop: 1025px;
$tablet: 768px;
$phone: 767px;

$colors: (
  white: #fff,
  black: #000,

  primary: #23262f,
  primary-1: #ff592c,
  primary-2: #9757d7,
  primary-3: #ef466f,
  primary-4: #45b26b,

  secondary: #3772ff,

  neutrals-three: #353945,
  neutrals-four: #777e90,
  neutrals-five: #B1B5C3,
  neutrals-six: #e6e8ec,
  neutrals-seven: #F4F5F6,
  neutrals-eight: #fcfcfd,

  bg-booking-wrapper: #ebebec,
);
